page-knowledge {
    height: 100%;
    width:100%;
    display: block;
    .knowledge-page {
        background-image:url("../assets/imgs/knowledgebg.gif");
        background-size: r(750px) r(1334px);
        height: 100%;
        width:100%;
        display: block;
        // background: #ebebeb;
        .knowledge-list {
            margin: 0 auto;
            display: block;
            padding-left: r(22px);
            padding-right: r(22px);
            width: r(750px);
            height: r(500px); // 偶数
            .item{
              border-radius: r(20px);
            }
            
            .item-even {
                background-image:url("../assets/imgs/knowledgebg.gif");
                margin-top: r(100px);
                height: r(500px);
                width: r(706px);
                position: relative; // background: #000;
                display: block;
                overflow: hidden;
                .thumbnail {
                    display: block;
                    width: 100%;
                    height: r(500px);
                    .box-img {
                        .thumbnail-img {
                            display: block;
                            width: 100%; // height: r(500px);
                            // object-fit:cover;
                        }
                    }
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 500; // background: #000;
                        width: r(706px);
                        height: r(500px);
                        /* 旧语法，带前缀并且已经废弃，以支持老版本的浏览器 */
                        background: -prefix-linear-zgradient(top, #ffffff, #959595);
                        /* 新语法，不带前缀，以支持标准兼容的浏览器（Opera 12.1， IE 10， Firefox 16， Chrome 26， Safari 6.1） */
                        background: linear-gradient(to bottom, #ffffff, #000000); // background: transparent;
                        // background-color:#000;
                        filter: Alpha(Opacity=35);
                        opacity: 0.35;
                    }
                }
                .title {
                    position: absolute;
                    z-index: 1000;
                    bottom: r(38px);
                    left: 0;
                    margin: 0 auto;
                    font-size: r(36px);
                    text-align: left; // text-indent: 2em;
                    padding-left: r(44px);
                    padding-right: r(44px);
                    color: #fff;
                    font-weight: bold;
                }
                .desc {}
            } //  奇数
            .item-odd {
                height: r(220px);
                width: r(706px);
                // background: rgba(18, 183, 245, 0.7); 
                background: #ffffff; 
                // margin-top: r(40px);
                // padding-top: r(40px);
                // padding-bottom: r(40px);
                // height: r(500px);
                // width: r(706px);
                position: relative;
                // background: #000;
                display: block;
                .thumbnail {
                    display: flex; // float: right;
                    overflow: hidden;
                    justify-content: flex-end;
                    align-items: center; // margin-top: 0;
                    // &:after{
                    //     content: "";
                    //     display: block;
                    //     overflow: hidden;
                    //     height: 0;
                    //     clear:both;
                    // }
                    .box-img {
                        height: r(140px);
                        width: r(140px);
                        overflow: hidden;
                        .thumbnail-img {
                            display: block; //   width: r(140px);
                            // height: r(140px);
                            width: r(140px);
                            margin-top: r(40px);
                            margin-bottom: r(40px); // margin-top: r(50px);
                            // vertical-align: center;
                            // width: r(140px);
                            // width: 100%;
                            // height: r(500px);
                            // object-fit:cover;
                        }
                    } // &::after{
                    //     content:'';
                    //     display: block;
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     z-index: 500;
                    //     // background: #000;
                    //     width: r(706px);
                    //     height: r(500px);
                    //     /* 旧语法，带前缀并且已经废弃，以支持老版本的浏览器 */
                    //     background: -prefix-linear-zgradient(top, #ffffff, #959595); 
                    //     /* 新语法，不带前缀，以支持标准兼容的浏览器（Opera 12.1， IE 10， Firefox 16， Chrome 26， Safari 6.1） */
                    //     background: linear-gradient(to bottom, #ffffff, #000000);
                    //     // background: transparent;
                    //     // background-color:#000;
                    //     filter:Alpha(Opacity=35);
                    //     opacity:0.35; 
                    // }
                }
                .title {
                    position: absolute;
                    // float: left;
                    height: r(220px);
                    // width: r(650px);
                    // line-height: r(100px);
                    padding-left: r(44px);
                    padding-right: r(160px);
                    z-index: 1000;
                    top: r(50px); // bottom:r(38px);
                    // left: 0;
                    // vertical-align: middle;
                    margin: 0 auto;
                    font-size: r(36px); // text-align: left;
                    // text-indent: 2em;
                    // padding-left: r(44px);
                    // padding-right: r(44px);
                    // color: #fff;
                    // font-weight: bold;
                }
                .desc {}
            }
        }
    }
}