header-home {
    height: r(100px);
    display: block;
    .header-home{
        display: block;
        height: r(100px);
        line-height: r(100px);
        .title{
            display: block;
            height: r(100px);
            // background-color: pink;
            font-size: r(36px);
            line-height: r(100px);
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }
    }
}
